
body {
    min-height: 100vh; 
    background-color: #cca90d;   
      
    text-align: center; 
    
    display: flex; 
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    
    color: white; 
  }
  
  
  .calculator-container {
    display: grid;
    grid-template-rows: repeat(6, 1fr);
    gap: 10px;
    
    height: 450px;
    width: 275px; 
    
    background-color: rgb(27, 27, 27);
    border-radius: 25px;
    
    margin: auto; 
    padding: 15px; 
  }
  
  
  .number-display-container {
    grid-row: 1;
    
    display: flex; 
    flex-direction: column; 
    
    justify-content: center; 
  }
  
      .number-on-screen {
        font-size: 35px; 
        text-align: right;
        padding: 5px;
        color: rgb(16, 122, 16);
        
        height: 75px; 
        width: 96%; 
  
        background-color: rgb(75, 74, 74);
        border-radius: 10px;
        border: none;  
    
        
      }
  
  
  
  .number-pad-container {
    grid-row: 2 / 7;
      
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    
        
    column-gap: 10px; 
    row-gap: 10px;  
  }
  
    .pad-button {
      border-radius: 100px; 
      
      font-size: 40px; 
      color: #e6e6e6; 
      background-color: #3c4043; 
      
      cursor: pointer; 
      
    }
    
      .pad-button:active,
      .pad-button:hover {
        color: white;
        background-color: #242729;
  
        transition: all .25s;
        transition-timing-function: ease-in;
        }
      
  
    .pad-button-color {
      border-radius: 100px; 
      
      font-size: 40px; 
      color: #e6e6e6; 
      background-color: #3c4043;  
      
      
    }
  
      .pad-button-color:active,
      .pad-button-color:hover {
        color: white; 
        background-color: #454645; 
        
        transition: all .25s;
        transition-timing-function: ease-in;
  
      }
  
      #pad-button-equal-sign {
        grid-column: 4; 
      }
  

  
  
